@import url('https://fonts.googleapis.com/css?family=Oswald');

.bg-custom{
  background-color: black!important;
}

#logo{
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover{
  color: #fff;
  text-decoration: none;
}

.jumbotron{
  /*font-family: Oswald;*/
  background-image: url("https://images.unsplash.com/photo-1471193945509-9ad0617afabf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  height: 500px;
}

.jumbotron h1, h2, p{
  color:#fff;
  letter-spacing: -1px;
  font-weight: bold
}

.home-content{
  margin-left: 1%!important;
  margin-top: 5%!important;
}

.row p{
  color: #000;
}

.card a{
  color: #000;
  text-decoration: none;
}

.center{
  color: #000;
}

.user-info{
  margin-top: 1%;
  margin-left: 2%;
  margin-right: -7%;
}

.new-recipe-return{
  color: #000;
}

.recipe-desc{
  color: #000!important;
}

.recipe-actions{
  padding-top: 5px;
  padding-bottom: 15px;
  a{
    color: #fff;
  } 
}

.profile-image{
  margin-left: 45%!important;
}

.user-listing{
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.user-title{
  font-weight: bold;
  font-size: 1.25em;
}

.pagination-div{
  margin-left: 43.5%;
}

.login-btn{
  margin-left: 17.5%;
}

.badge .badge-light{
  background-color: #007bff!important;
  color: #fff!important;
}

.tag-checkbox{
  margin-left: 1%;
}

.tag-checkbox-individual{
  margin-right: 10px;
}

.tag-label{
  color: #000;
}

.show-comments{
  margin-left: 16%;
}

.comment-enter{
  margin-left: 15%;
}

.header-img{
  margin-top: -32px;
}

.img-circle{
border-radius: 50%;
-moz-border-radius: 50%;
-webkit-border-radius: 50%;
}