.bg-custom{
  background-color: black!important;
}

#logo{
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover{
  color: #fff;
  text-decoration: none;
}

.jumbotron{
  background-image: url("cover-image.jpg");
  background-size: cover;
  height: 500px;
}

.jumbotron h1, h2, p{
  color:#fff;
  letter-spacing: -1px;
  font-weight: bold
}

.home-content{
  margin-left: 1%!important;
  margin-top: 5%!important;
}

.row p{
  color: #000;
}

.card a{
  color: #000;
  text-decoration: none;
}

.center{
  color: #000;
}

.user-info{
  margin-top: 1%;
  margin-left: 2%;
  margin-right: -7%;
}

.new-recipe-return{
  color: #000;
}

.recipe-desc{
  color: #000!important;
}

.recipe-actions{
  padding-top: 5px;
  padding-bottom: 15px;
  a{
    color: #fff;
  } 
}

.profile-image{
  margin-left: 45%!important;
}

.user-listing{
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.user-title{
  font-weight: bold;
  font-size: 1.25em;
}

.pagination-div{
  margin-left: 43.5%;
}

.login-btn{
  margin-left: 17.5%;
}